@tailwind base;
@tailwind components;
@tailwind utilities;
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
.yes-scrollbar::-webkit-scrollbar {
    display: inline;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .custom-background {
    background-image: url('./assets/baground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .bilboard-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .bg-custom-overlay {
    background-color: #030307;
    /* background-color: red; */
  }
  .search_menu{
    @apply w-[90px] h-[39px] md:w-[101px] md:h-[39px] rounded-[33.75px] border-[2px] border-white px-[0px] py-[18px]  flex justify-center items-center
  }

  .shop_item{
    @apply  mt-1 w-[100px] h-[36px] md:w-[200px] md:h-[50px] md:mt-6 md:pl-1 md:pr-1 rounded-full bg-gray-200 border border-black 
  }